In [1]:
import pandas as pd

## 1. Download and Explore Dataset

In order to segment the neighborhoods and explore them, we will essentially need a dataset that contains the place names as well as the the latitude and longitude coordinates of each neighborhood. 

Luckily, this dataset exists for free on the web. The dataset is obtained from http://www.geonames.org/export/zip/. The in.zip file in the page gives the details for almost 154809 rows representing several places in India. This dataset is downloaded and the IN.txt file is used for this assignment.

### Load and explore the data

Next, let's load the data.

In [2]:
df = pd.read_csv("IN.txt",sep='\t',names=['country code','postal code','place name','admin name1','admin code1','admin name2','admin code2','admin name3','admin code3','latitude','longitude','accuracy']) 
df

,country code,postal code,place name,admin name1,admin code1,admin name2,admin code2,admin name3,admin code3,latitude,longitude,accuracy
0,IN,744101,Marine Jetty,Andaman & Nicobar Islands,1,South Andaman,NaN,Portblair,NaN,11.6667,92.7500,3
1,IN,744101,Port Blair,Andaman & Nicobar Islands,1,South Andaman,NaN,Port Blair,NaN,11.6667,92.7500,4
2,IN,744101,N.S.Building,Andaman & Nicobar Islands,1,South Andaman,NaN,Portblair,NaN,11.6667,92.7500,3
3,IN,744102,Haddo,Andaman & Nicobar Islands,1,South Andaman,NaN,Port Blair,NaN,11.6833,92.7167,4
4,IN,744102,Chatham,Andaman & Nicobar Islands,1,South Andaman,NaN,Portblair,NaN,11.7000,92.6667,3
...,...,...,...,...,...,...,...,...,...,...,...,...
154804,IN,509412,Mustipally,Telangana,40,Mahabub Nagar,NaN,Peddakothapally,NaN,16.6514,78.0760,3
154805,IN,509412,Peddakarpamula,Telangana,40,Mahabub Nagar,NaN,Peddakothapally,NaN,16.6514,78.0760,3
154806,IN,509412,Gantaraopally,Telangana,40,Mahabub Nagar,NaN,Peddakothapally,NaN,16.6514,78.0760,3
154807,IN,509412,Ganyagula,Telangana,40,Mahabub Nagar,NaN,Nagarkurnool,NaN,16.6514,78.0760,3
154808,IN,509412,D.Thirumalapur,Telangana,40,Mahabub Nagar,NaN,Peddakothapally,NaN,16.6514,78.0760,3

### Clean the Dataset to choose only the relevant rows and columns needed for this assignment

In [3]:
mask = (df['admin name2'] == 'Chennai')
df_place = df[mask]
df_place.loc[:,('postal code')] = df_place.loc[:,('postal code')].apply(str)
df_place.dtypes
df_place.drop(['admin code1','admin code2','admin name3','admin code3','accuracy'], axis = 1,inplace = True)

In [4]:
df_place

,country code,postal code,place name,admin name1,admin name2,latitude,longitude
82499,IN,600001,Chennai G.P.O.,Tamil Nadu,Chennai,13.0933,80.2842
82500,IN,600001,MPT AO,Tamil Nadu,Chennai,13.0933,80.2842
82501,IN,600001,Flower Bazaar,Tamil Nadu,Chennai,13.0933,80.2842
82502,IN,600001,Sowcarpet,Tamil Nadu,Chennai,13.0897,80.2803
82503,IN,600001,Mannady (Chennai),Tamil Nadu,Chennai,13.0969,80.2881
...,...,...,...,...,...,...,...
82774,IN,600113,TTTI Taramani,Tamil Nadu,Chennai,13.0380,80.2301
82775,IN,600113,Tidel Park,Tamil Nadu,Chennai,13.0380,80.2301
82783,IN,600118,Erukkancheri,Tamil Nadu,Chennai,13.1256,80.2531
82784,IN,600118,Rv Nagar,Tamil Nadu,Chennai,13.1281,80.2557
82785,IN,600118,Kodungaiyur,Tamil Nadu,Chennai,13.1306,80.2583

In [5]:
df_place = df_place.groupby(['latitude','longitude']).agg({'country code':lambda x: ','.join(sorted(pd.Series.unique(x))),'postal code': lambda x: ','.join(sorted(pd.Series.unique(x))),'place name':lambda x: ','.join(sorted(pd.Series.unique(x))),'admin name1':lambda x: ','.join(sorted(pd.Series.unique(x))),'admin name2':lambda x: ','.join(sorted(pd.Series.unique(x)))}).reset_index()

In [6]:
df_place

,latitude,longitude,country code,postal code,place name,admin name1,admin name2
0,12.9194,80.1697,IN,600078,Kalaignar Karunanidhi Nagar,Tamil Nadu,Chennai
1,12.9675,80.2598,IN,600041,Valmiki Nagar,Tamil Nadu,Chennai
2,12.9855,80.2604,IN,600041,Tiruvanmiyur,Tamil Nadu,Chennai
3,13.0156,80.2467,IN,600085,Kotturpuram,Tamil Nadu,Chennai
4,13.0250,80.2575,IN,600028,"Raja Annamalaipuram,Ramakrishna Nagar (Chennai)",Tamil Nadu,Chennai
5,13.0269,80.2406,IN,600035,Nandanam,Tamil Nadu,Chennai
6,13.0292,80.2708,IN,600004,"Mandaveli,Mylapore,Vivekananda College Madras",Tamil Nadu,Chennai
7,13.0380,80.2301,IN,600113,"TTTI Taramani,Tidel Park",Tamil Nadu,Chennai
8,13.0389,80.2258,IN,600033,"Mambalam R.S.,West Mambalam",Tamil Nadu,Chennai
9,13.0433,80.2528,IN,600018,"Pr. Accountant General,Teynampet",Tamil Nadu,Chennai
10,13.0463,80.1913,IN,600092,"Koyambedu Wholesale Market Com,Virugambakkam",Tamil Nadu,Chennai
11,13.0472,80.2578,IN,600086,Gopalapuram (Chennai),Tamil Nadu,Chennai
12,13.0481,80.2014,IN,600093,Saligramam,Tamil Nadu,Chennai
13,13.0481,80.2214,IN,600024,Kodambakkam,Tamil Nadu,Chennai
14,13.0506,80.2642,IN,600014,"Lloyds Estate,Pudupakkam,Royapettah,Triplicane...",Tamil Nadu,Chennai
15,13.0511,80.2125,IN,600026,Vadapalani,Tamil Nadu,Chennai
16,13.0550,80.2767,IN,600005,Tiruvallikkeni,Tamil Nadu,Chennai
17,13.0572,80.2778,IN,600005,Madras University,Tamil Nadu,Chennai
18,13.0594,80.2789,IN,600005,Chepauk,Tamil Nadu,Chennai
19,13.0606,80.2344,IN,600034,"Loyola College,Nungambakkam,Nungambakkam High ...",Tamil Nadu,Chennai
20,13.0622,80.2409,IN,"600020,600022,600023,600025","Adyar (Chennai),Aynavaram,Engineering College ...",Tamil Nadu,Chennai
21,13.0645,80.2385,IN,"600032,600036,600038","Ekkaduthangal,Guindy Industrial Estate,Icf Col...",Tamil Nadu,Chennai
22,13.0697,80.2520,IN,"600083,600084","Ashoknagar (Chennai),Flowers Road,Jafferkhanpet",Tamil Nadu,Chennai
23,13.0700,80.2408,IN,600031,"Chetput,World University Centre",Tamil Nadu,Chennai
24,13.0715,80.2741,IN,"600006,600009","Fort St George,Greams Road,Old College Buildin...",Tamil Nadu,Chennai
25,13.0717,80.2556,IN,600008,"Egmore,Egmore ND,Ethiraj Salai",Tamil Nadu,Chennai
26,13.0722,80.2014,IN,600107,Koyambedu,Tamil Nadu,Chennai
27,13.0728,80.2042,IN,"600101,600102,600104","Anna Nagar East,Anna Nagar Western Extn,High C...",Tamil Nadu,Chennai
28,13.0734,80.2069,IN,600106,"Arumbakkam,D G Vaishnav College",Tamil Nadu,Chennai
29,13.0739,80.2244,IN,600029,Aminjikarai,Tamil Nadu,Chennai
30,13.0744,80.2714,IN,600002,"Anna Road,Chintadripet,Madras Electricity System",Tamil Nadu,Chennai
31,13.0797,80.2244,IN,600030,Shenoy Nagar,Tamil Nadu,Chennai
32,13.0800,80.2408,IN,600010,"Kilpauk,Kilpauk Medical College,Medavakkam Tan...",Tamil Nadu,Chennai
33,13.0819,80.2781,IN,600003,"Edapalayam,Madras Medical College,Park Town,Ri...",Tamil Nadu,Chennai
34,13.0847,80.2675,IN,600007,Vepery,Tamil Nadu,Chennai
35,13.0897,80.2803,IN,600001,Sowcarpet,Tamil Nadu,Chennai
36,13.0916,80.2662,IN,"600012,600015,600017","Guindy North,Hindi Prachar Sabha,Perambur Barr...",Tamil Nadu,Chennai
37,13.0933,80.2842,IN,600001,"Chennai G.P.O.,Flower Bazaar,Govt Stanley Hosp...",Tamil Nadu,Chennai
38,13.0969,80.2881,IN,600001,Mannady (Chennai),Tamil Nadu,Chennai
39,13.1072,80.2953,IN,600013,Rayapuram,Tamil Nadu,Chennai
40,13.1100,80.2333,IN,600082,Agaram,Tamil Nadu,Chennai
41,13.1103,80.2425,IN,600011,"Perambur,Perambur North,Sembiam",Tamil Nadu,Chennai
42,13.1111,80.2647,IN,600039,"Vyasar Nagar Colony,Vyasarpadi",Tamil Nadu,Chennai
43,13.1131,80.2886,IN,600021,"Washermanpet,Washermanpet East",Tamil Nadu,Chennai
44,13.1171,80.2572,IN,600082,"G K M Colony,Jawahar Nagar (Chennai)",Tamil Nadu,Chennai
45,13.1242,80.2811,IN,600082,Kumaran Nagar,Tamil Nadu,Chennai
46,13.1256,80.2531,IN,600118,Erukkancheri,Tamil Nadu,Chennai
47,13.1281,80.2557,IN,600118,Rv Nagar,Tamil Nadu,Chennai
48,13.1297,80.2897,IN,600081,"Tondiarpet,Tondiarpet Bazaar,Tondiarpet West",Tamil Nadu,Chennai
49,13.1306,80.2583,IN,600118,Kodungaiyur,Tamil Nadu,Chennai
50,13.3718,79.9360,IN,"600040,600042","Anna Nagar (Chennai),Velacheri",Tamil Nadu,Chennai
51,13.8144,80.2791,IN,"600090,600094","Besantnagar,Choolaimedu,Rajaji Bhavan",Tamil Nadu,Chennai

In [7]:
df_place.to_csv('Chennai.csv')